@model ClothBazar.Entities.Category

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">
                Edit
            </h2>
        </div><!-- /.title-section -->
    </div><!-- /.col-md-12 -->
</div>

<form method="post">
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.ID" />
        <label>Name</label>
        <label name="Name">@Model.Name</label>
    </div>
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.ID" />
        <label>Description</label>
        <label name="Description">@Model.Description</label>
    </div>
    <button type="submit">Delete</button>
</form>
