
@{
    ViewBag.Title = "Categories";
}

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" ></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" ></script>
    <div class="container">
        <div id="categoryContainer" class=" col-md-12" style="float:left;">
            @{
                Html.RenderAction("CategoryTable");
                //Html.RenderAction("Create");

            }
        </div>

        <div id="categoryActionContainer" class=" col-md-6" style="float:left;">

        </div>

    </div>